name: Build & Release Windows EXE

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv .venv

      - name: Build EXE
        run: |
          . .\.venv\Scripts\activate
          pyinstaller --onefile --noconsole --add-binary=".\ffmpeg-8.0-essentials_build\bin\ffmpeg.exe;." --add-binary=".\deno-x86_64-pc-windows-msvc\deno.exe;." .\main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: exe
          path: dist/*.exe

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: exe
          path: release-files

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release-files/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

